{% extends "apponline/plantilla_base.html" %}

{% block style_block %}
<style>
  table.coder-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

<h1>Zapatos</h1>
<a href="{% url 'zapatos_formulario' %}">Crear zapatos!</a>
<br>
<a href="{% url 'busqueda_zapatos_form' %}">Buscar Zapatos</a>

<br><br>
<h3>Zapatos:</h3>

<table class="coder-table">
  <tbody>
    <tr>
      <th>
        <strong>Nombre</strong>
      </th>
      <th>
        <strong>Codigo</strong>
      </th>
      <th>
        <strong>Stock</strong>
      </th>
    </tr>
    {% for zapatos in zapatos %}
    <tr>
      <td>{{zapatos.nombre}}</td>
      <td>{{zapatos.codigo}}</td>
      <td>{{zapatos.stock}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}